*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

.bg-green{
	color: blue;
	background-color: green;
}

.bg-yellow{
	background-color: yellow;
}

.bg-black{
	color: blue;
	background-color: black;
}

.bg-green{
	color: red;
	background-color: green;
}